<%= form_tag('regi_delete', method: :post) do %>
 <input type="submit" value="データを削除する"></input>
<% end %>


<div class="table_aitomo">
  <table border=1>
    <tr>
      <th>id</th>
      <th>breeder_id</th>
      <th>dog_type</th>
      <th>birthday</th>
      <th>price</th>
      <th>status</th>
    </tr>
    <% @regi_aitomo.each do |regi| %>
    <tr>
      <th><%= regi.dog_id %></th>
      <th><%= regi.breeder_id %></th>
      <th><%= regi.dog_type %></th>
      <th><%= regi.birthday %></th>
      <th><%= regi.price %></th>
      <th><%= regi.status %></th>
    </tr>
    <% end %>
  </table>
</div>